.password-input {
    margin-top: 30px;
    width: 80%;
    height: 55px;
    border-radius: 5px;
    border: 0;
    background: #FFF;
    padding: 10px;
}

.password-input:focus {
    box-shadow: 0 0 0 2.2px #333;
}

@media (min-width: 1920px) { 
    .password-input {
        height: 70px;
        font-size: 1.2rem;
    }
}

@media (min-width: 1440px) and (max-width: 1920px){ 
    .password-input {
        height: 63px;
        font-size: 1.15rem;
    }
}

@media (max-width: 1440px){ 
    .password-input {
        height: 45px;
        font-size: 1.1rem;
    }
}