.password-input {
    width: 100%;
    height: 75px;
    border-radius: 5px;
    border: 0;
    background: #FFF;
    padding: 10px;
    outline:none;
    padding-left: 30px;
    padding-right: 40px;
    font-family: "MontserratRegular";
}

.password-input::-webkit-outer-spin-button,
.password-input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.password-input[type="password"] {
    font-family: "Inter";
    letter-spacing: 2px;
}

.password-input[type="password"]::placeholder {
    letter-spacing: normal;
}

.password-input::placeholder {
    font-family: "MontserratMedium";
    font-size: 15px;
}



@media (min-width: 1920px) { 
    .password-input {
        height: 45px;
        font-size: 1.15rem;
    }
}

@media (min-width: 1440px) and (max-width: 1920px){ 
    .password-input {
        height: 40px;
        font-size: 1.1rem;
    }
}

@media (max-width: 1440px){ 
    .password-input {
        height: 35px;
        font-size: 1rem;
    }
}

.eye-password {
    position: absolute;
    left: 0;
    top: 0;
    width: 21px;
    height: 21px;
    transition: all 0.1s;
}

.start-img {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

.user-ico {
    width: 16px;
    height: 16px;
}

.password-ico {
    width: 20px;
    height: 20px;
}

.popup-input__container {
    position: relative;
    width: 80%;
    display: flex;
}

.popup-input__container ul {
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    width: 21px;
    height: 21px;
}

