.admin-table-element {
    border: 2px solid #A9A9A9;
    height: 46px;
    position: relative;
    font-size: 16px;
    border-spacing: 0;
    
}

.admin-table-element td {
    text-align: center;
    height: 46px;
    font-weight: 400;
}

.admin-table-element td:first-child {
    padding-left: 15px;
    text-align: start;
}   

.admin-table-element-images {
    overflow: hidden;
    height: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.admin-white-box {
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
}

.img-group {
    padding: 5px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-table-element-images img {
    user-select: none;
}

.admin-password-popup {
    z-index: 2;
    left: 100%;
    transform: translateX(-100%);
    top: 0;
    height: 46px;
    width: 280px;
    border: 2px solid #A9A9A9;
    position: absolute;
    background: #EEE;
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.admin-user-arrow {
    position: absolute;
    left: calc(100% - 280px);
    transform: translateX(-100%);
    padding: 5px;
    margin-left: 5px;
}

.admin-password-popup input{
    border: 1px solid #D7D7D7;
    background: #FFF;
    width: 200px;
    height: 32px;
    outline: none;
    padding-left: 10px;
}

.admin-password-popup button{
    border-radius: 5px;
    border: 1px solid #D7D7D7;
    background: #4CCF52;
    width: 42px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}