.popup {
    position: absolute;
    width: 516px;
    height: 477px;
    border-radius: 10px;
    background: #DE2C37;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.popup__container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #FFF;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.next-btn {
    width: 218px;
    height: 39px;
    border-radius: 7px;
    background: #FFF;
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 73px;
    border: none;
}

.input6 {
    margin-top: 34px;
}

    .input6 input {
        width: 53px;
        height: 70px;
        border-radius: 7px;
        background: #FFF;
    }
