* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x:hidden;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #EEF0F0;
}

/*HEADER*/
/*HEADER*/
/*HEADER*/


.main-header_menu {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;
} 

.main-header_menu li {
    display: flex;
    user-select: none;
}

.main-header_menu li:last-child {
    cursor: pointer;
    user-select: none;
}

.header-img {
    width: 25px;
    height: 25px;
}

/*MAIN*/
/*MAIN*/
/*MAIN*/

.main-main {
    background-color: #EEF0F0;
    width: 100%;
    
}

.main-main__container {
    width: 80%;
    max-width: 1440px;
    
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-main__container > h1 {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    text-align: center;
}

@media (min-width: 1920px) { 
    .main-main__container > h1 {
        font-size: 30px;
    }
}

@media (min-width: 1440px) and (max-width: 1920px){ 
    .main-main__container > h1 {
        font-size: 26px;
    }
}

@media (max-width: 1440px){ 
    .main-main__container > h1 {
        font-size: 24px;
    }
}

.settings {
    width: 25%;
    height: 100vh;
    position: absolute;
    background-color: white;

    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.15);

    left: 100%;

    transition: all 0.5s;

    /*border-left: solid black 0.9px;*/

    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.move-to-left {
    transform: translateX(-100%);
}

.settings__container {
    width: 90%;
    height: 95%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__container > h1 {
    font-size: 24px;
}

.krest {
    width: 16px;
    height: 16px;
    position: absolute;
    top: 2%;
    left: 95%;
    transform: translate(-100%, 0);
}

.settings__container > button {
    margin-top: 20px;
}

ul {
    list-style: none;
}

.main-loader {
    user-select: none;
    margin-left: 2px;
    width: 23px;
    padding: 3px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: black;
    --_m: 
      conic-gradient(#0000 15%,#000),
      linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {to{transform: rotate(1turn)}}

  .button-print {
    width: 90px;
    height: 39px;
    border: solid black 1px;
    border-radius: 3px;
    background-color: white;

    font-weight: 500;
  }