.exit-popup {
    width: 522px;
    height: 185px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border-radius: 7px;
    border: 1px solid #9A9A9A;

    background-color: white;
}

.exit-popup__container {
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.exit-popup h1 {
    font-size: 23px;
    text-align: center;
    margin: 0;
    font-family: 'MontserratMedium';
}

.exit-popup p {
    margin-top: 18px;
    margin-bottom: 0;
    font-family: 'MontserratRegular';
}

.exit-popup-buttons {
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    gap: 85px;
    align-self: center;
    font-family: 'MontserratRegular';
}

.exit-popup-buttons button{
    width: 150px;
    height: 35px;
    border-radius: 7px;
    text-align: center;
    color: white;
    border: none;
    font-size: 16px;
}

.exit-popup-buttons button:first-child{
    background: #DE2C37;
}


.exit-popup-buttons button:last-child{
    background: #9F9F9F;
}