.tables {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: 90%;
}




table {
    border-collapse: collapse;
}

th {
    text-align: center;
}



tr {
    display: table-row;
    background-color: #F4F4F4;

    padding: 5px;
}

tbody tr:nth-child(2n + 1) { 
    background-color: white;
    color: black;
}

thead tr {
    height: 60px;
    background-color: #DE2C37;
}

@media (max-width: 1440px){ 
    tr:nth-child(1) {
        height: 50px;
    }
}

tr td:nth-child(1) {
    text-align: left;
}

td {
    padding: 5px;
    border: 2px solid #CCC;
    text-align: center;
}

.bold {
    font-weight: 700;
}



th {
    border: 2px solid #CCC;
}

.vid {
    text-align: left;
    padding-left: 10px;
    width: 330px;
}

.period, .oplacheno {
    width: 145px;
}

.time {
    width: 100px;
}

.summa {
    width: 123px;
}

/* FONTS FOR TABLE*/

tr {
    color: #000;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

thead tr {
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}

@media (min-width: 1920px) { 
    tr {
        font-size: 17px;
    }
    tr:nth-child(1) {
        font-size: 17px;
    }
}

@media (min-width: 1440px) and (max-width: 1920px){ 
    tr {
        font-size: 15px;
    }
    tr:nth-child(1) {
        font-size: 16px;
    }
}

@media (max-width: 1440px){ 
    tr {
        font-size: 14px;
    }
    tr:nth-child(1) {
        font-size: 15px;
    }
}

.other-data {
    margin-top: 7px;
    width: 100%;
}

.other-data p {
    font-size: 13px;
    margin: 0;
}

.other-data hr {
    margin: 0;
    padding: 0;
    z-index: 0;
}

.other-data-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}